  <div class="container">
    <div class="levels"><a href="/sudoku-beginner"><button type="text">Beginner</button></a>
    <a href="/sudoku-intermediate"><button type="text">Intermediate</button></a>
    <a href="/sudoku-advanced"><button type="text">Advanced</button></a></div>
    <h4>Highest Score</h4>
    
    <ol>
      <li></li>
      <li></li> 
      <li></li>
    </ol>

  </div>
      
