  <div class="container">
     <h1>Sudokudoku</h1>
    <div class="timer"></div>
     <div id="board">
        <!-- Append the square div here -->
    </div>
      <button id="playBtn">Play</button>
      <button id="resetBtn"><a href = "/sudoku">Reset</a></button>
      <div id="back"> <a href="/">play again</a></div>
  </div>






   
   
    
   