<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <div class="timer"></div>
    <div class="board"></div>
    <div class="button"><input type="button" type="text" name="play"></div>
    <div id="back"> <a href="/start">play again</a></div>
  </div>
</body>
</html>