<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <div class="levels"><input type="button" type="text" name="Beginner"></div>
    <div class="levels"><input type="button" type="text" name="Intermediate"></div>
    <div class="levels"><input type="button" type="text" name="Advanced"></div>
    <h4>Highest Score</h4>
    
    <ol>
      <li></li>
      <li></li> 
      <li></li>
    </ol>

  </div>
      
</body>
</html>