  <div class="container">
    <div class="levels"><input type="button" type="text" name="Beginner" onclick='displayEasyBoard()'></div>
    <div class="levels"><input type="button" type="text" name="Intermediate" onclick='displayMedBoard()'></div>
    <div class="levels"><input type="button" type="text" name="Advanced" onclick='displayHardBoard()'></div>
    <h4>Highest Score</h4>
    
    <ol>
      <li></li>
      <li></li> 
      <li></li>
    </ol>

  </div>
      
