<div class="container>
  <div class="title">
    <h1>sudoku generator</h1>  
  </div>
  <form action="/sudoku" method="post">
    <div class="sudokucreate"><input placeholder="name" type="text" name="name"></div>
    <div class="sudokucreate"><input placeholder="register" type="text" name="register"></div>
    <div class="sudokucreate"><input type="button" type="text" name="name"></div>
    <div class="sudokucreate"><input id="submit" type="submit" name="commit" value="Create Sudoku"></div>
  </form>
</div>

<div id="sudoku"></div>