
<div class = "welcome">welcome!!</div>

<button class ="beginner"><a href = "/sudoku">Beginner</a></button>
<button class ="intermediate"><a href = "/sudoku">Intermediate</a></button>
<button class ="advance"><a href = "sudoku">Advance</a></button>